<%= turbo_frame_tag @turbo_frame_tag do %>
  <div>
    <%= render Form::FlashComponent.new %>
    <%= render Form::ErrorComponent.new(@short_link.errors.messages) %>

    <h1 class="text-xl">
      New Short Link
    </h1>

    <form action="<%= admin_short_link_index_path %>" method="post">
      <%= render Form::InputComponent.new(title: "Url", name: "create[url]", value: @short_link.url, placeholder: "https://example.com") %>

      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
<% end %>