<div>
  <% unless flash[:success].blank? %>
    <div class="alert alert-success my-1" role="alert">
      <%= helpers.tabler_icon 'check', class: 'h-6 w-6' %>
      <span>
        <%= flash[:success] %>
      </span>
    </div>
    <% flash[:success] = nil %>
  <% end %>

  <% unless flash[:info].blank? %>
    <div class="alert alert-info my-1" role="alert">
      <%= helpers.tabler_icon 'check', class: 'h-6 w-6' %>
      <span>
        <%= flash[:info] %>
      </span>
    </div>
    <% flash[:info] = nil %>
  <% end %>

  <% unless flash[:warning].blank? %>
    <div class="alert alert-warning my-1" role="alert">
      <%= helpers.tabler_icon 'check', class: 'h-6 w-6' %>
      <span>
        <%= flash[:warning] %>
      </span>
    </div>
    <% flash[:warning] = nil %>
  <% end %>

  <% unless flash[:error].blank? %>
    <div class="alert alert-error my-1" role="alert">
      <<%= helpers.tabler_icon 'check', class: 'h-6 w-6' %>
      <span>
        <%= flash[:error] %>
      </span>
    </div>
    <% flash[:error] = nil %>
  <% end %>

  <% unless flash[:error2].blank? %>
    <div class="alert alert-error my-1" role="alert">
      <%= helpers.tabler_icon 'check', class: 'h-6 w-6' %>
      <span>
        <%= flash[:error2] %>
      </span>
    </div>
    <% flash[:error2] = nil %>
  <% end %>
</div>
