<%= turbo_frame_tag @turbo_frame_tag do %>
  <%= render Form::FlashComponent.new %>
  <%= render Form::ErrorComponent.new(@post.errors.messages) %>

  <div class="flex justify-between mb-4">
    <div class="flex">
      <a href="<%= admin_post_index_path %>" class="btn btn-primary btn-outline mr-4" data-turbo="false">
        <%= tabler_icon 'arrow-left', class: 'h-5 w-5' %> Back to Posts
      </a>
      <p class="text-xl">
      <%= @post.title %>
    </p>
    </div>


    <div class="flex justify-end">
      <a href="<%= edit_admin_post_path @post %>" class="btn btn-primary" data-turbo-action="advance">
        <%= tabler_icon 'edit', class: 'h-5 w-5' %> Edit
      </a>
    </div>
  </div>

  <div class="card bg-base-200 shadow-sm">
    <div class="card-body">
      <p>
        <b>Title:</b> <%= @post.title %>
      </p>
      <p>
        <b>Description:</b> <%= @post.description %>
      </p>
      <p>
        <b>State:</b> <%= @post.status.humanize %>
      </p>
      <p>
        <a href="<%= blog_post_path @post.path %>" class="link" data-turbo="false">
          <b>Path:</b> <%= @post.path %>
        </a>
      </p>
      <p>
        <b>Created At:</b> <%= @post.created_at %>
      </p>
      <p>
        <b>Updated At:</b> <%= @post.updated_at %>
      </p>
      <p>
        <b>Published At:</b> <%= @post.published_at %>
      </p>
    </div>
  </div>

  <div class="divider">Content</div>

  <div data-controller="markdown--content" class="prose mx-auto" data-turbo="false">
    <%== @markdown.render @post.content %>
  </div>

<% end %>