<div class="navbar bg-base-200 shadow-sm">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <%= helpers.tabler_icon 'menu-2', class: 'h-5 w-5' %>
      </div>
      <ul tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <%= render Admin::NavbarListComponent.new %>
      </ul>
    </div>
    <a class="btn btn-ghost text-xl" href="/">DalenW</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <%= render Admin::NavbarListComponent.new %>
    </ul>
  </div>
  <div class="navbar-end">
    <form class="button_to" method="post" action="/session">
      <input type="hidden" name="_method" value="delete" autocomplete="off">
      <button class="btn btn-primary" type="submit">
        <%= helpers.tabler_icon 'logout', class: 'h-5 w-5' %> Log Out
      </button>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    </form>
  </div>
</div>
