<% if @post.cover_image.blank? %>
  <div class="lg:mt-8 mt-12 w-full">
    <h1 class="text-center text-4xl font-bold mb-2">
      <%= @post.title %>
    </h1>


    <div class="tooltip w-full" data-tip="MM/DD/YYYY">
      <p class="text-center text-lg">
        <%= @post.published_at.strftime("%m/%d/%Y") %>
      </p>
    </div>
  </div>
<% else %>
  <div class="relative w-full h-96 overflow-hidden">
    <!-- Background image -->
    <img src="<%= url_for @post.cover_image %>" alt="Background" class="absolute inset-0 w-full h-full object-cover blur-sm" />

    <!-- Overlay with text -->
    <div class="relative z-10 flex flex-col items-center justify-center w-full h-full text-center p-4 hero-overlay">
      <h1 class="text-4xl font-bold mb-2"><%= @post.title %></h1>
      <p class="text-lg">
        <div class="tooltip" data-tip="MM/DD/YYYY">
          <%= @post.published_at.strftime("%m/%d/%Y") %>
        </div>
      </p>
    </div>
  </div>
<% end %>

<article data-controller="markdown--content" class="prose w-full my-8 mx-auto px-8" data-turbo="false">
  <%== @markdown.render @post.content %>
</article>