<% if @post.cover_image.blank? %>
  <div class="prose mt-8">
    <h1 class="text-center">
      <%= @post.title %>
    </h1>

    <div class="flex items-center justify-center text-small">
      <%= @post.published_at %>
    </div>
  </div>
<% else %>
  <div class="relative w-full h-96 overflow-hidden">
    <!-- Background image -->
    <img src="<%= url_for @post.cover_image %>" alt="Background" class="absolute inset-0 w-full h-full object-cover blur-sm" />

    <!-- Overlay with text -->
    <div class="relative z-10 flex flex-col items-center justify-center w-full h-full text-center p-4 hero-overlay">
      <h1 class="text-4xl font-bold mb-2"><%= @post.title %></h1>
      <p class="text-lg"><%= @post.published_at %></p>
    </div>
  </div>
<% end %>

<article data-controller="markdown--content" class="prose w-full mx-auto my-8" data-turbo="false">
  <%== @markdown.render @post.content %>
</article>