<div class="lg:grid lg:grid-flow-row lg:grid-cols-5 lg:grid-rows-1" data-controller="blog--post">

  <!-- desktop menu -->
  <div class="lg:col-span-2 lg:h-screen lg:block hidden">
    <div class="grid grid-flow-row grid-cols-6 grid-rows-1">
      <div class="2xl:col-span-3 lg:col-span-3 bg-base-200 p-4 h-screen">
        <div class="flex flex-col justify-between h-full">
          <header>
            <div class="prose">
              <h1>
                <a href="/" class="link link-hover font-bold" data-turbo="false">DalenW.com</a>
              </h1>

              <p>
                Welcome to my website. You can assume that everything on here is written by me.
              </p>

              <a href="https://github.com/DalenW" class="link link-hover font-bold flex items-center" data-turbo="false">
                <%= tabler_icon 'brand-github', class: 'h-5 w-5 me-2' %> Github
              </a>

              <a href="<%= contact_path %>" class="link link-hover font-bold flex items-center" data-turbo="false">
                <%= tabler_icon 'mail', class: 'h-5 w-5 me-2' %> Contact
              </a>
            </div>
          </header>


          <footer>
            <div class="prose">
              <small>
                Your IP address: <%= get_ip_address %>
              </small>
              <br>
              <small>
                Last Update:
              </small>
              <div class="tooltip" data-tip="MM/DD/YYYY">
                <small>
                  <%= GIT_TIME.strftime('%m/%d/%Y') %>
                </small>
              </div>

              <br>
              <small>
                Version ID: <a href="<%= new_session_path %>" class="link link-hover font-light" data-turbo-prefetch="false"><%= GIT_COMMIT[0..6] %></a>
              </small>
            </div>
          </footer>
        </div>
      </div>

      <div class="2xl:col-span-3 lg:col-span-3 bg-base-200 p-0">
        <% @posts.each do |post| %>
          <%= render Blog::PostListItemComponent.new post %>
        <% end %>
      </div>
    </div>
  </div>

  <!-- mobile menu -->
  <div class="lg:col-span-0 absolute -left-full z-30 transition-all duration-500" data-blog--post-target="mobileMenu">
    <div class="bg-base-200 w-screen h-screen mx-auto px-8">
      <div class="flex justify-end w-full">

      </div>

      <header class="border-b-2 border-dashed pb-4">
        <div class="w-full flex justify-between mt-4 mb-4">
          <h1 class="text-4xl">
            <a href="/" class="link link-hover font-bold" data-turbo="false">DalenW.com</a>
          </h1>

          <button type="button" class="btn btn-primary btn-sm" data-action="blog--post#hidePosts" title="Close Menu">
            <%= tabler_icon 'x', class: 'h-5 w-5' %>
          </button>
        </div>

        <div class="prose">
          <p>
            Welcome to my website. You can assume that everything on here is written by me.
          </p>

          <a href="https://github.com/DalenW" class="link link-hover font-bold flex items-center" data-turbo="false">
            <%= tabler_icon 'brand-github', class: 'h-5 w-5 me-2' %> Github
          </a>

          <a href="<%= contact_path %>" class="link link-hover font-bold flex items-center" data-turbo="false">
            <%= tabler_icon 'mail', class: 'h-5 w-5 me-2' %> Contact
          </a>
        </div>

        <p class="text-2xl mt-8">
          Posts:
        </p>
      </header>

      <div class="bg-base-200">
        <% @posts.each do |post| %>
          <%= render Blog::PostListItemComponent.new post %>
        <% end %>
      </div>

      <footer class="bg-base-200">
        <div class="prose">
          <small>
            Your IP address: <%= get_ip_address %>
          </small>
          <br>
          <small>
            Last Update:
          </small>
          <div class="tooltip" data-tip="MM/DD/YYYY">
            <small>
              <%= GIT_TIME.strftime('%m/%d/%Y') %>
            </small>
          </div>

          <br>
          <small>
            Version ID: <a href="<%= new_session_path %>" class="link link-hover font-light" data-turbo-prefetch="false"><%= GIT_COMMIT[0..6] %></a>
          </small>
        </div>
      </footer>

    </div>
  </div>


  <!-- show posts -->
  <div class="lg:col-span-3">
    <div class="h-screen w-full overflow-auto overscroll-contain">
      <div class="fixed lg:hidden z-20">
        <button type="button" class="btn btn-primary btn-sm ms-4 mt-4" data-action="blog--post#showPosts">
          <%= tabler_icon 'layout-sidebar-left-expand-filled', class: 'h-5 w-5' %>
        </button>
      </div>
      <div>
        <%= turbo_frame_tag @turbo_frame_tag do %>
          <%= render Blog::PostComponent.new @post %>
        <% end %>
      </div>
    </div>

  </div>
</div>